/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

a {
  font-weight: 700;
  font-family: 'Playfair Display', serif !important;
}

textarea {
  font-weight: 400;
  font-family: 'Playfair Display', serif !important;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  font-family: 'Playfair Display', serif !important;
}

p {
  font-weight: 400;
  font-family: 'Playfair Display', serif !important;
}

div {
  font-weight: 600;
  font-family: 'Playfair Display', serif !important;
}

input {
  font-weight: 600;
  font-family: 'Playfair Display', serif !important;
}

label {
  font-weight: 600;
  font-family: 'Playfair Display', serif !important;
}

button {
  font-weight: 400;
  /*font-family: 'Playfair Display', serif !important;*/
}

.MuiFormLabel-root {
  color: black !important;
}

.MuiAvatar-root {
  background: white !important;
  color: black !important;
}

.MuiMenu-paper {
  background: #ffffff !important;
}

.css-1uwgr7b-MuiTypography-root {
  color: black !important;
}

/* width */
::-webkit-scrollbar {
  /*width: 10px;*/
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}
